.block {
  display: flex;
  flex-direction: row;
}
.blockk {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.fontt {
  position: fixed;
  color: white;
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
}

@media screen and (max-width :768px ) {
  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .blockk {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }
  .fontt {
    position: fixed;
    color: white;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
  }
}